.container {
    padding: 2px;
}

.introBox {
    width: 95%;
    margin-top: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.scoreBox {
    height: 80px;
    display: flex;
}

.progressBox {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox {
    margin-top: 40px;
}