.container {
    padding: 0 20px;
}

.head {
    margin-bottom: 20px;
}

.specialCard {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.antdCardBody {
    width: 100%;
    height: 100%;
    padding: 0px 20px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.topBox {}

.hot {
    font-size: 16px;
    color: red
}

.title {
    font-size: 28px;
    margin-right: 10px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
}

.addressAndhot {
    display: flex;
}

.address {
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    margin: 0 20px 0 0;
}

.info {
    color: #aaa1a1;
}


.detailBox {}