.container {
    width: 100%;
}

.topBox {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: white; */
}

.carousel {
    width: 500px;
    height: 100%;
}

.introBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.schoolScore {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.schoolNum {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card1 {
    flex: 1;
    margin: 5px;
    height: auto;
    align-items: center;
}


.schoolCard {
    width: 100%;
    margin-bottom: 10px;
}

.antdCardBody {
    width: 100%;
    height: 100%;
    padding: 5px 20px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.schoolContent {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.Demochart {
    height: 100% !important;
    width: 100% !important;
}

.chartTitle {

    font-size: 20px;
    font-weight: bold;
}

.singleBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 500px;
    margin-top: 20px;
}