.numIptBox {
    display: flex;
    align-items: center;
    justify-content: center;
}


.formItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btnBox {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}