.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

menu {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

menu a {
    padding: 0 5px;
    color: black
}
.menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.info {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}



.numIptBox {
    display: flex;
    align-items: center;
    justify-content: center;
}


.formItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btnBox {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}